<%-include('header') %>
<%-include('menu') %>
<h2>Pályázatok</h2>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <%palyazatok.forEach(function(egypalyazat){ %>
        <div class="col-6">
            <div class="p-3 border bg-light"><%=egypalyazat.nev%>-<%=egypalyazat.neptun%><br><%=egypalyazat.pontszam%> pont<br><%=egypalyazat.statusz%><br><a href="/palyazat/<%=egypalyazat._id%>/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a><a href="/palyazat/<%=egypalyazat._id%>/delete" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a></div>
        </div>
        <% }); %>
    </div>
</div>

<%-include('footer') %>
