<%-include('header') %>
<%-include('menu') %>
<h2>Pályázat <%if(typeof palyazat==='undefined'){%>létrehozása<%}else{%>módosítása<%}%></h2>

<form method="POST">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="nev" class="col-form-label">Pályázó neve</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="nev" name= "nev" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.nev %>">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="email" class="col-form-label">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="email" name= "email" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.email %>">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="neptun" class="col-form-label">Neptun</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="neptun" name= "neptun" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.neptun %>">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="telefon" class="col-form-label">Telefonszam</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="telefon" name= "telefon" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.telefon %>">
                    </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
        </div>
        <div class="col-lg-4 col-md-6 col-12">
        </div>
    </div>
</div>
<h3>Fontos adatok </h3>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="pontszam" class="col-form-label">Pontszam</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="pontszam" name= "pontszam" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.pontszam %>">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="mirepalyazik" class="col-form-label">Mire palyazik</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="mirepalyazik" name= "mirepalyazik" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.mirepalyazik %>">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="statusz" class="col-form-label">Palyazat statusza</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="statusz" name= "statusz" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.statusz %>">
                    </div>
                </div>
                <div class="row g-3 align-items-right">
                    <div class="col-auto">
                        <label for="kat" class="col-form-label">Kategoria</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="kat" name= "kat" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.kat %>">
                    </div>
                </div>
                <div class="row g-3 align-items-right">
                    <div class="col-auto">
                        <label for="hianyossagok" class="col-form-label">Hianyossagok</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="hianyossagok" name= "hianyossagok" class="form-control" value="<%= (typeof palyazat === 'undefined') ? '' : palyazat.hianyossagok %>">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Mentés"/>
                <a class="btn btn-link" href="/">Mégsem</a>

        </div>
        <div class="col-lg-4 col-md-6 col-12">
        </div>
        <div class="col-lg-4 col-md-6 col-12">
        </div>
    </div>
</div>
</form>

<%-include('footer') %>
